.menuItem{
  position: relative;
  right: 2rem;
}
.menuItems{
  margin-right: 2rem;
  margin-left: 0;
  margin-bottom: 0rem;
}

/*home*/
.homeContainer{
  margin-top: 5rem;
}
/*/home*/

/*/speaker/*/
.row{
  padding: 1% 2%;
}
.img-fluid {
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.event-space{
  margin-left: 3rem;
  margin-right: 3rem;
}
.contains{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}
.card-text{
  font-size: 0.99rem;

}
/*/speaker/*/


/*responsiveness*/

/*extra small*/
@media (max-width: 576px){
  body{
    background-color: pink!important;
  }
  .menuItem{
    position: relative;
    right: 0;
  }

  .menuItems{
    margin-right: 0;
    margin-left: 1rem;
  }
}
/*small*/
@media (min-width: 577px){
  body{
    background-color: yellow!important;
  }
  .menuItem{
    position: relative;
    right: 0;
  }

  .menuItems{
    margin-right: 0;
    margin-left: 1rem;
  }
}
/*medium*/
@media (min-width: 768px){
  body{
    background-color: green!important;
  }
  .menuItem{
    position: relative;
    right: 0;

  }
  .menuItems{
    margin-right: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

}
/*large*/
@media (min-width: 992px){
  body{
    background-color: orange!important;
  }
}
/*extra large*/
@media (min-width: 1200px){
  body{
    background-color: grey!important;
  }
  .menuItem{
    position: relative;
    right: 0rem;
  }

  .menuItems{
    margin-right: 2rem;
    margin-left: 0;
    margin-bottom: 0rem;
  }

}
/*extra extra large*/
@media (min-width: 1400px){
  body{
    background-color: blue!important;
  }
  .menuItem{
    position: relative;
    right: 0rem;
  }

  .menuItems{
    margin-right: 2rem;
    margin-left: 0;
    margin-bottom: 0rem;
  }

}
