.menuItem{
  position: relative;
  right: 2rem;
}
.menuItems{
  margin-right: 2rem;
  margin-left: 0;
  margin-bottom: 0rem;
  color:#000000!important;
  font-weight: bold;
}

/*home*/
.homeContainer{
  margin-top: 5rem;
  margin-left: -3vw;
  width: 100vw;
}
.homeImageContainer{
  height: 100vh;
  background-image: url('../assets/conference4.jpg');
  filter: blur(4px);
  width: 100vw;
  background-repeat: no-repeat;
}
.child{
  position: absolute;
  top: 8rem;
  left: .3rem;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.headline{
  color: white;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 3rem;
}
.tagline{
  color: white;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1.3em;
}
.date{
  color: white;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1.3em;
}
.address{
  color: white;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1.3em;
}
.button{
  margin-left: 0.7rem;
}
#demo{
  position: relative;
  left: 50rem;
  bottom:7.5rem;
  color: #ffffff;
  width:26rem;
  font-size: 3rem;
}
.columns{
  margin-left: 1rem;
  font-size: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: rgb(0, 15, 67)!important;
  border-radius: 1rem;
  margin-top: -1.2rem;
}
.timeHeading{
  font-size: 2rem;
  text-align: left;
  margin-left: 1.8rem;
  color:#ffffff;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 18rem;

}
.counterHeading{
  margin-top: 0.2rem;
  text-align: center;
  color:rgb(59, 139, 234);
  padding: 0.1rem;
}
.timeValues{
  text-align: center;
  font-weight: bold;
  margin-top: -0.2rem;
}
/*/home*/


/*contact*/
.contactTitle{
  color: rgb(59, 139, 234);
  font-weight: bold;
  font-size: 2rem;
}
.labelColor,.form-label{
  color: #ffffff;
}
.contactIconContainer{
  margin-top: 4rem;
}
.contactIcons{
  font-size: 1.3rem;
  margin-top: 1rem;
}
/*/contact/

/*speaker*/

.row{
  padding: 1% 2%;
}
.img-fluid {
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}


/*/speaker*/

/*footer*/
.footerContainer{
  background-color:rgb(15, 23, 42) ;
}
.footerIcons{
  text-align: center;
  color: #ffffff;
}
.footerIconsMain{
  margin-left: 0.8rem;
  font-size: 1.2rem;
  color: rgb(59, 139, 234);
}
.footerIconsMain:hover{
  color:#ffffff;
}
a:link {
  text-decoration: none;
  color: #ffffff;
 }


a:visited {
  text-decoration: none;
  color: #ffffff;
 }


a:hover {
  text-decoration: none;
  color: #ffffff;
 }


a:active {
  text-decoration: none;
  color: #ffffff;
 }
.footerMenu{
  margin-left: 1rem;
  font-weight: bold;
}
.footerMenu:hover{
  color: rgb(59, 139, 234);
}
.footerTexts{

  text-align: center;
  color: #ffffff;
  margin-top: -0.6rem;
  text-decoration:none;
  color: #ffffff!important;
  margin-bottom: -0.2rem;
}
.footerTextsLast{
    font-size: 0.9rem;
}
.developerName:hover{
  color:rgb(59, 139, 234);
}
.hr{
  color:#ffffff;
}
/*/footer*/


/*responsiveness*/

/*extra small*/
@media (max-width: 576px){
  body{
    background-color: pink!important;
  }
  .menuItem{
    position: relative;
    right: 0;
  }
  /*home*/
  .headline{
    margin-left: 0.5rem;
    font-size: 3em;
  }
  .tagline{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
  }
  .date{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.3em;
  }
  .address{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.3em;
  }
  .button{
    margin-left: 0.5rem;
  }
  /*/home*/
  .event-space{
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .card-text{
    font-size: 1.2rem;
  }
  .contains{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .menuItems{
    margin-right: 0;
    margin-left: 1rem;
  }
}
/*small*/
@media (min-width: 577px){
  body{
    background-color: yellow!important;
  }
  .menuItem{
    position: relative;
    right: 0;
  }
  /*home*/
  .headline{
    margin-left: 0.5rem;
    font-size: 3em;
  }
  .tagline{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
  }
  .date{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.3em;
  }
  .address{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.3em;
  }
  .button{
    margin-left: 0.5rem;
  }
  /*/home*/
  .event-space{
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .card-text{
    font-size: 1.2rem;
  }
  .contains{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .menuItems{
    margin-right: 0;
    margin-left: 1rem;
  }
}
/*medium*/
@media (min-width: 768px){
  body{
    background-color: green!important;
  }
  .menuItem{
    position: relative;
    right: 0;

  }
  /*home*/
  .headline{
    margin-left: 0.5rem;
    font-size: 5em;
  }
  .tagline{
    margin-left: 0.5rem;
    margin-top: 3.5rem;
    font-size: 2em;

  }
  .date{
    margin-left: 0.5rem;
    margin-top: 2rem;
    font-size: 1.8em;
  }
  .address{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.8em;
  }
  .button{
    margin-left: 0.5rem;
    font-size: 1.5em;
  }
  #demo{
    position: relative;
    left: 33rem;
    bottom:3rem;
    width:26rem;
  }
  /*/home*/
  .card-text{
    font-size: 1.3rem;
  }
  .contains{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .event-space{
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .menuItems{
    margin-right: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

}
/*large*/
@media (min-width: 992px){
  body{
    background-color: orange!important;
  }
  /*home*/
  .headline{
    margin-left: 0.5rem;
    font-size: 3.5em;
  }
  .tagline{
    margin-left: 0.5rem;
    margin-top: 2.5rem;
    font-size: 1.5em;

  }
  .date{
    margin-left: 0.5rem;
    margin-top: 2rem;
    font-size: 1.3em;
  }
  .address{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.3em;
  }
  .button{
    margin-left: 0.5rem;
    font-size: 1.5em;
  }
  #demo{
    position: relative;
    left: 33rem;
    bottom:8rem;
    width:26rem;
  }
  /*/home*/
  .contains{
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .event-space{
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .card-text{
    font-size: 1.2rem;
  }
}
/*extra large*/
@media (min-width: 1200px){
  body{
    background-color: #ffffff!important;
  }
  .menuItem{
    position: relative;
    right: 0rem;
  }
  /*home*/
  .headline{
    margin-left: 0.5rem;
    font-size: 3em;
  }
  .tagline{
    margin-left: 0.5rem;
    margin-top: 2rem;
    font-size: 1em;

  }
  .date{
    margin-left: 0.5rem;
    margin-top: 2rem;
    font-size: 1em;
  }
  .address{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1em;
  }
  .button{
    margin-left: 0.5rem;
    font-size: 1em;
  }
  #demo{
    position: relative;
    left: 50rem;
    bottom:3.8rem;
    width:26rem;
  }
  /*/home*/
  .event-space{
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .card-text{
    font-size: 1.2rem;
  }
  .contains{
    margin-left: 20rem;
    margin-right: 20rem;
  }

  .menuItems{
    margin-right: 2rem;
    margin-left: 0;
    margin-bottom: 0rem;
  }

}
/*extra extra large*/
@media (min-width: 1400px){
  body{
    background-color: blue!important;
  }
  /*home*/
  .headline{
    margin-left: 0.5rem;
    font-size: 3em;
  }
  .tagline{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
  }
  .date{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.3em;
  }
  .address{
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.3em;
  }
  .button{
    margin-left: 0.5rem;
  }
  #demo{
    position: relative;
    left: 58rem;
    bottom:1rem;
    width:26rem;
  }
  /*/home*/
  .menuItem{
    position: relative;
    right: 0rem;
  }
  .card-text{
    font-size: 1.2rem;
  }

  .event-space{
    margin-left: 20rem;
    margin-right: 20rem;
  }
  .contains{
    margin-left: 30rem;
    margin-right: 30rem;
  }

  .menuItems{
    margin-right: 2rem;
    margin-left: 0;
    margin-bottom: 0rem;
  }

}
